.blogtitle{
  width: 500px;
  padding-top: 100px;
  padding-bottom: 20px;
  /*margin-left: 75px;*/


}

.blogpost{
  width: 500px;
  padding-bottom: 20px;
  /*margin-left: 75px;*/

}

.Btn{
  /*margin-left: 75px;*/
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex-col{
  width: 60%
}

.modifyPanel{
  width: 25%;
  min-height: auto;
  border: 2px solid rgba(255, 255, 255, 0.125);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.025);
  float: right;
  margin-right: 50px;
  margin-top: 100px;
}

.modifyPanelHeading{
  text-align: center;
  text-decoration: underline;
}

.creatNewHeading{

}
